/* Gradient in Hex */
/* linear-gradient(to right, #382D28 0%, 6.047197803854942%, #604639 12.094395607709885%, 21.71156893819334%, #D7B39C 32.11833069202324%, 43.16447164690238%, #786155 52.139461172741676%, 73.02917870793326%, #030202 100%);

/* Gradient in RGBA */
/* linear-gradient(to right, rgba(56, 45, 40, 1) 0%, 6.047197803854942%, rgba(96, 70, 57, 1) 12.094395607709885%, 21.71156893819334%, rgba(215, 179, 156, 1) 32.11833069202324%, 43.16447164690238%, rgba(120, 97, 85, 1) 52.139461172741676%, 73.02917870793326%, rgba(3, 2, 2, 1) 100%); */ */
/* font-family: 'Poppins', sans-serif; */

*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
 
}
.container{

}
.input{

}
.small-lower{
    
}
.col{
    display: flex;
    flex-direction: column;

}

.row{
    display:flex;

}
.center{
   justify-content: center;
   align-items: center;
}

h1{

}
h4{

}
button{

}